@media screen and (min-width: 320px) and (max-width: 426px) {
    body .content-1 video {
        position: absolute !important;
        top: 15dvh;
        width: 60dvh !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        flex-grow: 1;
    }

    #gambar22 {
        left: 0;
        opacity: 1 !important;
    }

    .logo {
        opacity: 0;
    }

    .search-icon {
        position: absolute;
        top: 1.2rem !important;
        transform: translateX(150%);
    }

     #text-7 {
        position: absolute;
        top: 19rem;
        left: 40%;
        transform: translateX(-40%);
        z-index: 99;
        flex-grow: 1;
        font-size: 1.5rem;
    }

    
    .sarjana {
        position: absolute;
        top:  -1rem;
        left: 12rem;
        width: 50px;
    }

     #text-9 {
        position: absolute;
        left: 40%;
        transform: translateX(-20%);
        top: 20.5em;
        font-size: 17px;
    }

    .sosial-media ul  {
        position: absolute;
        font-size: 25px;
        transform: translateX(-95%);
        left: 40%;
        top: 9rem;
        z-index: 99;
        display: flex;
    }

    #button-50 {
        position: absolute;
        width: 115px;
        top: 29rem;
        left: 62%;
        transform: translateX(-20%);
    }

    
    #button-200 {
        position: absolute;
        width: 115px;
        top: 29rem;
        left: 30%;
        transform: translateX(-40%);
    }

    .function-content {
        position: relative !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

    .function-content video {
        position: fixed;
        top: 2rem;
        left: 50%;
        width: 120dvw;
        transform: translateX(-50%);
    }


    #bg-nav{
        display: none;
    }

     .decoration3 {
        opacity: 0 !important;
    }

    #text-10 {
        opacity: 0;
    }

    .background-form2 {
        position: relative !important;
        left: 50%;
        max-width: 70dvh;
        transform: translateX(-50%);
    }

     .decoration {
        position: relative;
        width: 4dvh;
        height: 11dvh;
        top: 16rem;
        left: 21%;
        transform: translateX(-21%);
    }

    .bg-jobdesk {
        position: absolute;
        top: 16.5rem !important;
        left: 29%;
        transform: translateX(-29%);
    }

      .bg-jobdesk .slider1 {
        font-size: 18px;
    }

    .bg-jobdesk .slider2 {
        font-size: 18px;
    }

    .function-content-result {
        position: absolute;
        top: 10.8rem;
        left: 29%;
        transform: translateX(-29%);
        font-size: 20px;
    }

    .function-content-result a {
        font-size: 22px;
    }

    .running-slide {
    position: absolute;
    top: 22rem;
    left: 10%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
}

.paragraf_mobile {
    position: absolute;
    left: 50%;
    width: 240px;
    top: 65rem !important;
    font-weight: bold !important;
    letter-spacing: 0.5px;
    text-align: justify;
    border: solid 3px #1f1e24 !important;
    padding: 20px;
    color: #1f1e24;
    border-radius: 10px;
    font-size: 13px;
    box-shadow: 0 4px 0px;
    transition: 0.3s ease;
    transform: translateX(-50%);
    z-index: 99999;
}

.paragraf_mobile {
    display: block !important;
    opacity: 1 !important;
}

.paragraf {
    display: none;
}

.paragraf_mobile:active {
    transition: 0.3s ease;
    transform: translateY(4%);
    box-shadow: 0 1px 0;
}

.decoration2 {
    position: absolute;
    top: 39rem;
    left: 30%;
    transform: translateX(-40%);
}

#button-9 {
    position: absolute;
    width: 120px;
    top: 38rem;
    left: 55%;
    transform: translateX(-55%);
}

.bg-presentation1 {
    position: absolute;
    top: 40rem;
    left: 50%;
    transform: translateX(-50%);
}

.bg-presentation2 {
    position: absolute;
    top: 46rem;
    left: 50%;
    transform: translateX(-50%);
}

.bg-presentation3 {
    position: absolute;
    top: 52rem;
    left: 50%;
    transform: translateX(-50%);
}

.presentation{
    position: relative;
    left: -0rem;
    width: 200px;
    height: 200px;
}


@keyframes hover2 {
    0% {
        width: 0px;
    }

    100% {
        width: 135px;
    }
}

#icon_1 {
    position: relative;
    left: 1.6rem;
    bottom: -0.5px;
}

.decoration3 {
    display: none;
}

.head-school{
    position: absolute !important;
    top: 50rem !important;
    left: 105% !important;
    transform: translateX(-50%);
    font-size: 25px !important;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.school-history {
    position: absolute;
    top: 40rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0px !important;
}

.back-button{
    display: none;
}

.main-function-content2{
    position: relative;
    left: -3.3rem;
    width: 200px;
    height: 200px;
}

.school-history span a {
    position: absolute;
    font-size: 20px;
    right: -0rem;
    bottom: -0.5rem;
    color: #1f1e24;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
}

.school-history span {
    position: relative;
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: solid 3px #1f1e24;
    left: -12rem !important;
    top: -4.7rem !important; 
    margin: 350px;
}

.history-scholl-1 h1 {
    position: absolute;
    top: -72.2rem;
    left: -7.7rem;
    font-size: 14px;
    text-align: center;
}


.history-scholl-1 h2 {
    position: relative;
    top: -76rem;
    left: 2.7rem;
    font-size: 17px;
    width: 280px;
    height: 190px;
    text-align: center;
    font-size: 16px;
    padding-top: 60px;
    border: solid 3px #1f1e24;
    border-radius: 15px;
}


.history-scholl-1 p {
    position: relative;
    top: -85.2rem;
    left: 3.4rem;
    width: 260px;
    font-size: 15px;
    color: #1f1e24;
    text-align: center;
}

.school-history span {
    position: relative;
    width: 45px;
    height: 45px;
    left: -16.9rem;
    top: -12rem;
}

.history-scholl-2 h1 {
    position: absolute;
    top: -73.2rem;
    left: -7.7rem;
    font-size: 14px;
    text-align: center;
}


.history-scholl-2 h2 {
    position: relative;
    top: -77rem;
    left: 2.7rem;
    font-size: 17px;
    width: 280px;
    height: 190px;
    text-align: center;
    font-size: 16px;
    padding-top: 60px;
    border: solid 3px #1f1e24;
    border-radius: 15px;
}


.history-scholl-2 p {
    position: relative;
    top: -86.4rem;
    left: 3.4rem;
    width: 260px;
    font-size: 15px;
    color: #1f1e24;
    text-align: center;
}

.history-scholl-3 h1 {
    position: absolute;
    top: -69.5rem;
    left: 2rem;
    font-size: 14px;
}


.history-scholl-3 h1 {
    position: absolute;
    top: -75.2rem;
    left: -7.7rem;
    font-size: 14px;
    text-align: center;
}


.history-scholl-3 h2 {
    position: relative;
    top: -79.2rem;
    left: 2.7rem;
    font-size: 17px;
    width: 280px;
    height: 190px;
    text-align: center;
    font-size: 16px;
    padding-top: 60px;
    border: solid 3px #1f1e24;
    border-radius: 15px;
}


.history-scholl-3 p {
    position: relative;
    top: -89.2rem;
    left: 3.4rem;
    width: 260px;
    font-size: 15px;
    color: #1f1e24;
    text-align: center;
}

.bg-running-text {
    position: absolute !important;
    top: 196rem !important;
    opacity: 1 !important;
    left: -76rem;
    z-index: 999999999;
}

.container-skill2 {
    position: relative;
    left: -6rem;
}

.container-skill2 ul {
    display: block;
    left: 46%;
    transform: translateX(-50%);
}

.container-skill2 ul li {
    position: relative;
    top: 65.2rem;
    left: 40%;
    transform: translateX(-50%);
    padding-bottom: 50px;
}


.container-skill2 ul li .skill_1 {
    position: relative;
    width: 140px;
    height: 160px;
    left: -2.8rem;
}

.container-skill2 ul li .skill_1  img {
    position: relative;
    left: 2.2rem;
}

.container-skill2 ul li .skill_1 a {
    position: relative;
    left: -2.2rem;
}

.container-skill2 ul li .skill_1 p {
    position: relative;
    left: -14.2rem;
}

.container-skill2 ul li .skill_2 {
    position: relative;
    width: 140px;
    height: 160px;
    left: -2.8rem;
}

.container-skill2 ul li .skill_2  img {
    position: relative;
    left: 2.7rem;
}

.container-skill2 ul li .skill_2 a {
    position: relative;
    left: -1rem;
}

.container-skill2 ul li .skill_2 p {
    position: relative;
    left: -14.2rem;
}

.container-skill2 ul li .skill_3 {
    position: relative;
    width: 140px;
    height: 160px;
    left: -2.8rem;
}

.container-skill2 ul li .skill_3  img {
    position: relative;
    left: 2rem;
    width: 55px;
}

.container-skill2 ul li .skill_3 a {
    position: relative;
    left: 2.2rem;
    top: 0.5rem;
}

.container-skill2 ul li .skill_3 p {
    position: relative;
    left: -14.2rem;
    top: 0.5rem;
}

.container-skill2 ul li .skill_4 {
    position: relative;
    width: 140px;
    height: 160px;
    left: -2.8rem;
}

.container-skill2 ul li .skill_4  img {
    position: relative;
    left: 1rem;
}

.container-skill2 ul li .skill_4 a {
    position: relative;
    left: 3rem;
    top: 0.5rem;
}

.container-skill2 ul li .skill_4 p {
    position: relative;
    left: -14.2rem;
    top: 0.5rem;
}

.container-skill2 ul li .skill_5 {
    position: relative;
    width: 140px;
    height: 160px;
    left: -2.8rem;
}

.container-skill2 ul li .skill_5  img {
    position: relative;
    left: 1.3rem;
}

.container-skill2 ul li .skill_5 a {
    position: relative;
    left: 1.6rem;
    top: -1.5rem;
}

.container-skill2 ul li .skill_5 p {
    position: relative;
    left: -14.2rem;
    top: -1.5rem;
}

.container-skill3 ul li .skill_6 {
    position: relative;
    width: 140px;
    height: 160px;
    left: -2.8rem;
}

.container-skill3 ul {
    display: block;
    position: absolute !important;
    top: 303.9rem;
}

.container-skill3 {
    position: relative;
    top: -185.4rem !important;
    left: 55%;
    transform: translateX(-50%);
    width: 230px;
    height: 500px;
}

.container-skill3 ul li {
    position: absolute !important;
    top: 20rem !important;
    left: 50% !important;
    transform: translateX(-50%);
    margin-bottom: 50px;
}

.container-skill3 ul li .skill_6  img {
    position: relative;
    left: 1rem;
    top: 0.5rem;
}

.container-skill3 ul li .skill_6 a {
    position: relative;
    left: 2.7rem;
    top: 0.8rem;
}

.container-skill3 ul li .skill_6 p {
    position: relative;
    left: -14.2rem;
    top: 0.5rem;
}

.container-skill3 ul li .skill_7 {
    position: relative;
    width: 140px;
    height: 160px;
    left: -2.8rem;
}


.container-skill3 ul li {
    position: relative !important;
    top: -54rem !important;
    left: 3.2rem !important;
}

.container-skill3 ul li .skill_7  img {
    position: relative;
    left: 1.8rem;
    top: 0.2rem;
}

.container-skill3 ul li .skill_7 a {
    position: relative;
    left: 1rem;
    top: -0.3rem;
    font-size: 19px;
}

.container-skill3 ul li .skill_7 p {
    position: relative;
    left: -14.2rem;
    top: -0.5rem;
}

.container-skill3 ul li .skill_8 {
    position: relative;
    width: 140px;
    height: 160px;
    left: -2.8rem;
}


.container-skill3 ul li {
    position: relative !important;
    top: -54rem !important;
    left: 3.2rem !important;
}

.container-skill3 ul li .skill_8 img {
    position: relative;
    left: 1.3rem;
    top: 0.7rem;
}

.container-skill3 ul li .skill_8 a {
    position: relative;
    left: 2.2rem;
    top: 0.8rem;
    font-size: 19px;
}

.container-skill3 ul li .skill_8 p {
    position: relative;
    left: -14.2rem;
    top: 1rem;
}

.container-skill3 ul li .skill_9 {
    position: relative;
    width: 140px;
    height: 160px;
    left: -2.8rem;
}


.container-skill3 ul li {
    position: relative !important;
    top: -53.7rem !important;
    left: 3.2rem !important;
}

.container-skill3 ul li .skill_9 img {
    position: relative;
    left: -0.3rem;
    top: 0.3rem;
}

.container-skill3 ul li .skill_9 a {
    position: relative;
    left: 2rem;
    top: -1rem;
    font-size: 19px;
}

.container-skill3 ul li .skill_9 p {
    position: relative;
    left: -14.2rem;
    top: -1.5rem;
}

.container-skill3 ul li .skill_10 {
    position: relative;
    width: 140px;
    height: 160px;
    left: -2.8rem;
}


.container-skill3 ul li {
    position: relative !important;
    top: -53.7rem !important;
    left: 3.2rem !important;
}

.container-skill3 ul li .skill_10 img {
    position: relative;
    left: -0.3rem;
    top: 0.3rem;
}

.container-skill3 ul li .skill_10 a {
    position: relative;
    left: 2rem;
    top: -1rem;
    font-size: 19px;
}

.container-skill3 ul li .skill_10 p {
    position: relative;
    left: -14.2rem;
    top: -1rem;
}

    @keyframes slide {
    0% {
        transform: translateY(0%);
    }

    50% {
        opacity: 1;
        transform: translateY(190%);
    }

    90% {
        opacity: 1;
    }

    100% {
            opacity: 1;
    }
    
    
}

.value-skill{
    position: relative !important;
    top: -218rem;
    left: -8rem;
    
}


.value-skill h1 {
    position: absolute;
    font-size: 20px;
    top: 207rem;
    left: 50%;
    transform: translateX(-50%);
}

.build-projek {
    position: relative;
    left: -9.7rem;
}

.value-project {
    position: absolute;
    top: 0;
    left: 7dvh;
}

.value-project h1 {
    position: absolute !important;
    left: 50%;
    font-size: 20px;
    top: 280rem;
    transform: translateX(-50%);
}

.projek-1 {
    position: relative;
    top: 70.2rem;
    width: 305px;
    height: 470px;
    left: 50%;
    transform: translateX(-50%);
}

.projek-1 img {
    width: 270px;
    height: 150px;
}

.projek-1 p {
    position: relative;
    left: 1.5rem;
    font-size: 12.5px;
    width: 250px;
    text-align: justify;
}

.btn-projek-1 {
    position: relative;
    left: 5.2rem;
    width: 130px;
    height: 40px;
}

.btn-projek-1 a {
    font-size: 17px;
}

.projek-2 {
    position: relative;
    top: 80rem;
    width: 305px;
    height: 470px;
    left: 50%;
    transform: translateX(-50%);
}

.projek-2 img {
    width: 270px;
    height: 150px;
}

.projek-2 p {
    position: relative;
    left: 1.5rem;
    font-size: 12.5px;
    width: 250px;
    text-align: justify;
}

.btn-projek-2 {
    position: relative;
    left: 5.2rem;
    width: 130px;
    height: 40px;
    transition: 0.3s ease;
}

.projek_1p{
    position: relative;
    left: 16%;
    font-size: 20px;
    top: -105rem;
    transform: translateX(-50%);
}

.projek_2p {
    position: relative;
    left: 30%;
    transform: translateX(-50%);
    font-size: 20px;
    top: -68rem;
}

.countdown {
    position: relative !important;
    top: -50rem !important;
    overflow: visible !important;
    width: 420px;
    height: 200px;
}

.countdown img {
    position: relative;
    top: 0rem;
    width: 425px;
    height: 200px;
}

#invisible-1 a {
    display: none;
}

#invisible-2 a {
    display: none;
}

.Value2 {
    display: none;
}

.Value3 {
    display: none;
}

.option-menu {
    display: none;
}

.op-2 {
    opacity: 0;
}

#visible a {
    position: relative;
    left: -4rem;
}

.Value {
    position: relative;
    display: block !important;
    top: -7.3rem !important;
    left: 7rem !important;
    font-size: 70px !important;
    letter-spacing: 2px !important;
    color: black;
}

.search_bar {
    display: none;
}

.Option_Bar {
    display: none;
}

.container-images {
    position: absolute;
    top: -178rem;
    width: 1380px;
    height: 600px;
    margin: 5rem;
    background-color: #ffffff;
    overflow: hidden;
}
      






    


}

