@media screen and (max-width: 400px) {
    #gambar22 {
        position: absolute;
        left: 0.5rem;
        opacity: 1 !important;
    }

    .school-history a {
    opacity: 1;
    } 

    .logo {
        display: none;
    }

    .search-icon {
        position: relative;
        top: -47.1rem !important;
        left: 17.5rem;
    }

    #bg-nav {
        display: none;
    }

    .tree-3d-page video {
        position: relative;
        top: -7.5rem;
        left: -2.4rem;
        width: 420px;
    }

    #text-7 {
        position: relative;
        top: -33rem;
        left: 3rem;
        font-size: 25px;
        width: 250px;
        background-color: rgb(255, 255, 255);
    }

    .sarjana {
        position: relative;
        top:  1rem;
        left: 1rem;
        width: 50px;
    }

    #text-9 {
        position: absolute;
        left: 3.5rem;
        top: 24.2rem;
        font-size: 17px;
    }

    #text-10 {
        display: none;
    }

    .sosial-media i {
        position: relative;
        font-size: 27px;
        left: -8.2rem;
        top: -45.5rem;
    }

    .sosial-media ul {
        display: flex;
    }

    #button-50 {
        position: absolute;
        width: 115px;
        top: 31rem;
        left: 3.3rem;
    }

    #button-200 {
        position: absolute;
        width: 115px;
        top: 31rem;
        left: 12rem;
    }

    .function-content video {
        position: relative;
        top: -55rem;
        left: -3rem;
        width: 470px;
    }

    .decoration {
        position: absolute;
        width: 25px;
        height: 75px;
        top: -36rem;
        left: 2.8rem;
    }

    .bg-jobdesk {
        position: absolute;
        top: -35.5rem;
        left: 5rem;
    }

    .bg-jobdesk .slider1 {
        font-size: 18px;
    }

    .bg-jobdesk .slider2 {
        font-size: 18px;
    }

    .function-content-result {
        position: absolute;
        top: -56rem;
        left: 5.4rem;
        font-size: 20px;
    }

    .function-content-result a {
        font-size: 22px;
    }

    @keyframes slide {
    0% {
        transform: translateY(0%);
    }

    50% {
        opacity: 1;
        transform: translateY(190%);
    }

    90% {
        opacity: 1;
    }

    100% {
            opacity: 1;
    }
}

.running-slide {
    position: absolute;
    top: -30rem;
    left: 0rem;
}

.value-main-function-content {
    position: absolute;
    top: -14rem;
    left: -31.5rem;
    width: 255px;
}

.paragraf {
    display: none;
}

.paragraf_mobile {
    position: relative;
    left: 2rem;
    width: 240px;
    top: -487.5rem !important;
    font-weight: bold !important;
    letter-spacing: 0.5px;
    text-align: justify;
    border: solid 3px #1f1e24 !important;
    padding: 20px;
    color: #1f1e24;
    border-radius: 10px;
    font-size: 13px;
    box-shadow: 0 4px 0px;
    transition: 0.3s ease;
}

.paragraf:active {
    transition: 0.3s ease;
    transform: translateY(4%);
    box-shadow: 0 1px 0;
}

.decoration2 {
    position: absolute;
    top: -11rem;
    left: 3rem;
}

@keyframes hover2 {
    0% {
        width: 0px;
    }

    100% {
        width: 135px;
    }
}

#button-9 {
    position: absolute;
    width: 120px;
    top: -12rem;
    left: 13rem;
}

.bg-presentation1 {
    position: absolute;
    top: -0rem;
    left: 3.3rem;
}

.bg-presentation2 {
    position: absolute;
    top: 6rem;
    left: 3.3rem;
}

.bg-presentation3 {
    position: absolute;
    top: 12rem;
    left: 3.3rem;
}

.main-function-content2 h1 {
    position: absolute;
    font-size: 25px;
    left: 6.8rem;
    top: -3rem;
}

#icon_1 {
    position: relative;
    left: 1.6rem;
    bottom: -0.5px;
}

.decoration3 {
    display: none;
}

.school-history {
    left: 0rem;
    width: 0px !important;
}

.school-history span a {
    position: relative;
    font-size: 20px;
    right: -1.1rem;
    bottom: -0.5rem;
    color: #1f1e24;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
}

.school-history span {
    position: relative;
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: solid 3px #1f1e24;
    left: -12rem !important;
    top: -4.7rem !important; 
    margin: 350px;
}

.history-scholl-1 h1 {
    position: absolute;
    top: -72.2rem;
    left: -7.7rem;
    font-size: 14px;
    text-align: center;
}


.history-scholl-1 h2 {
    position: relative;
    top: -76rem;
    left: 2.7rem;
    font-size: 17px;
    width: 280px;
    height: 190px;
    text-align: center;
    font-size: 16px;
    padding-top: 60px;
    border: solid 3px #1f1e24;
    border-radius: 15px;
}


.history-scholl-1 p {
    position: relative;
    top: -85.2rem;
    left: 3.4rem;
    width: 260px;
    font-size: 15px;
    color: #1f1e24;
    text-align: center;
}

.school-history span {
    position: relative;
    width: 45px;
    height: 45px;
    left: -16.9rem;
    top: -12rem;
}

.history-scholl-2 h1 {
    position: absolute;
    top: -73.2rem;
    left: -7.7rem;
    font-size: 14px;
    text-align: center;
}


.history-scholl-2 h2 {
    position: relative;
    top: -77rem;
    left: 2.7rem;
    font-size: 17px;
    width: 280px;
    height: 190px;
    text-align: center;
    font-size: 16px;
    padding-top: 60px;
    border: solid 3px #1f1e24;
    border-radius: 15px;
}


.history-scholl-2 p {
    position: relative;
    top: -86.4rem;
    left: 3.4rem;
    width: 260px;
    font-size: 15px;
    color: #1f1e24;
    text-align: center;
}

.history-scholl-3 h1 {
    position: absolute;
    top: -69.5rem;
    left: 2rem;
    font-size: 14px;
}


.history-scholl-3 h1 {
    position: absolute;
    top: -75.2rem;
    left: -7.7rem;
    font-size: 14px;
    text-align: center;
}


.history-scholl-3 h2 {
    position: relative;
    top: -79.2rem;
    left: 2.7rem;
    font-size: 17px;
    width: 280px;
    height: 190px;
    text-align: center;
    font-size: 16px;
    padding-top: 60px;
    border: solid 3px #1f1e24;
    border-radius: 15px;
}


.history-scholl-3 p {
    position: relative;
    top: -89.2rem;
    left: 3.4rem;
    width: 260px;
    font-size: 15px;
    color: #1f1e24;
    text-align: center;
}

.container-skill2 ul {
    display: block;
}

.container-skill2 ul li {
    position: relative;
    top: 11.2rem;
    left: -6.9rem;
    padding-bottom: 50px;
}

.container-skill2 ul li .skill_1 {
    position: relative;
    width: 140px;
    height: 180px;
    left: -2.8rem;
}

.container-skill2 ul li .skill_1  img {
    position: relative;
    left: 2.2rem;
}

.container-skill2 ul li .skill_1 a {
    position: relative;
    left: -2.2rem;
}

.container-skill2 ul li .skill_1 p {
    position: relative;
    left: -14.2rem;
}

.container-skill2 ul li .skill_2 {
    position: relative;
    width: 140px;
    height: 180px;
    left: -2.8rem;
}

.container-skill2 ul li .skill_2  img {
    position: relative;
    left: 2.7rem;
}

.container-skill2 ul li .skill_2 a {
    position: relative;
    left: -1rem;
}

.container-skill2 ul li .skill_2 p {
    position: relative;
    left: -14.2rem;
}

.container-skill2 ul li .skill_3 {
    position: relative;
    width: 140px;
    height: 180px;
    left: -2.8rem;
}

.container-skill2 ul li .skill_3  img {
    position: relative;
    left: 2rem;
    width: 55px;
}

.container-skill2 ul li .skill_3 a {
    position: relative;
    left: 2.2rem;
    top: 0.5rem;
}

.container-skill2 ul li .skill_3 p {
    position: relative;
    left: -14.2rem;
    top: 0.5rem;
}

.container-skill2 ul li .skill_4 {
    position: relative;
    width: 140px;
    height: 180px;
    left: -2.8rem;
}

.container-skill2 ul li .skill_4  img {
    position: relative;
    left: 1rem;
}

.container-skill2 ul li .skill_4 a {
    position: relative;
    left: 3rem;
    top: 0.5rem;
}

.container-skill2 ul li .skill_4 p {
    position: relative;
    left: -14.2rem;
    top: 0.5rem;
}

.container-skill2 ul li .skill_5 {
    position: relative;
    width: 140px;
    height: 180px;
    left: -2.8rem;
}

.container-skill2 ul li .skill_5  img {
    position: relative;
    left: 1.3rem;
}

.container-skill2 ul li .skill_5 a {
    position: relative;
    left: 1.6rem;
    top: -1.5rem;
}

.container-skill2 ul li .skill_5 p {
    position: relative;
    left: -14.2rem;
    top: -1.5rem;
}

.container-skill3 ul li .skill_6 {
    position: relative;
    width: 140px;
    height: 180px;
    left: -2.8rem;
}


.container-skill3 ul li {
    position: relative !important;
    top: -54rem !important;
    left: 3.2rem !important;
}

.container-skill3 ul li .skill_6  img {
    position: relative;
    left: 1rem;
    top: 0.5rem;
}

.container-skill3 ul li .skill_6 a {
    position: relative;
    left: 2.7rem;
    top: 0.8rem;
}

.container-skill3 ul li .skill_6 p {
    position: relative;
    left: -14.2rem;
    top: 0.5rem;
}

.container-skill3 ul li .skill_7 {
    position: relative;
    width: 140px;
    height: 180px;
    left: -2.8rem;
}


.container-skill3 ul li {
    position: relative !important;
    top: -54rem !important;
    left: 3.2rem !important;
}

.container-skill3 ul li .skill_7  img {
    position: relative;
    left: 1.8rem;
    top: 0.2rem;
}

.container-skill3 ul li .skill_7 a {
    position: relative;
    left: 1rem;
    top: -0.3rem;
    font-size: 19px;
}

.container-skill3 ul li .skill_7 p {
    position: relative;
    left: -14.2rem;
    top: -0.5rem;
}

.container-skill3 ul li .skill_8 {
    position: relative;
    width: 140px;
    height: 180px;
    left: -2.8rem;
}


.container-skill3 ul li {
    position: relative !important;
    top: -54rem !important;
    left: 3.2rem !important;
}

.container-skill3 ul li .skill_8 img {
    position: relative;
    left: 1.3rem;
    top: 0.7rem;
}

.container-skill3 ul li .skill_8 a {
    position: relative;
    left: 2.2rem;
    top: 0.8rem;
    font-size: 19px;
}

.container-skill3 ul li .skill_8 p {
    position: relative;
    left: -14.2rem;
    top: 1rem;
}

.container-skill3 ul li .skill_9 {
    position: relative;
    width: 140px;
    height: 180px;
    left: -2.8rem;
}


.container-skill3 ul li {
    position: relative !important;
    top: -53.7rem !important;
    left: 3.2rem !important;
}

.container-skill3 ul li .skill_9 img {
    position: relative;
    left: -0.3rem;
    top: 0.3rem;
}

.container-skill3 ul li .skill_9 a {
    position: relative;
    left: 2rem;
    top: -1rem;
    font-size: 19px;
}

.container-skill3 ul li .skill_9 p {
    position: relative;
    left: -14.2rem;
    top: -1.5rem;
}

.container-skill3 ul li .skill_10 {
    position: relative;
    width: 140px;
    height: 180px;
    left: -2.8rem;
}


.container-skill3 ul li {
    position: relative !important;
    top: -53.7rem !important;
    left: 3.2rem !important;
}

.container-skill3 ul li .skill_10 img {
    position: relative;
    left: -0.3rem;
    top: 0.3rem;
}

.container-skill3 ul li .skill_10 a {
    position: relative;
    left: 2rem;
    top: -1rem;
    font-size: 19px;
}

.container-skill3 ul li .skill_10 p {
    position: relative;
    left: -14.2rem;
    top: -1rem;
}

.container-skill3 ul {
    display: block;
}

.container-skill3 ul li {
    position: relative;
    top: -65rem !important;
    left: -6rem;
    padding-bottom: 50px;
}

.bg-running-text {
    position: relative;
    left: -73.8rem;
    top: -145rem;
}

.value-skill h1 {
    position: relative;
    font-size: 20px;
    top: -145rem;
    left: 2.5rem;
}

.projek-1 {
    position: relative;
    top: -16.2rem;
    width: 305px;
    height: 470px;
    left: 1rem;
}

.projek-1 img {
    width: 270px;
    height: 150px;
}

.projek-1 p {
    position: relative;
    left: 1.5rem;
    font-size: 12.5px;
    width: 250px;
    text-align: justify;
}

.btn-projek-1 {
    position: relative;
    left: 5.2rem;
    width: 130px;
    height: 40px;
}

.btn-projek-1 a {
    font-size: 17px;
}

.projek-2 {
    position: relative;
    top: -9rem;
    width: 305px;
    height: 470px;
    left: 1rem;
}

.projek-2 img {
    width: 270px;
    height: 150px;
}

.projek-2 p {
    position: relative;
    left: 1.5rem;
    font-size: 12.5px;
    width: 250px;
    text-align: justify;
}

.btn-projek-2 {
    position: relative;
    left: 5.2rem;
    width: 130px;
    height: 40px;
    transition: 0.3s ease;
}

.btn-projek-2:active {
    box-shadow: 0 1px 0;
    transition: 0.3s ease;
    transform: translateY(4%);
}

.btn-projek-2 a {
    font-size: 17px;
}

.value-project h1 {
    position: relative;
    font-size: 20px;
    top: -7.5rem;
    left: 2.7rem;
}

.search_bar {
    position: relative;
    left: 0.5rem;
    top: -97.5rem;
    width: 228px;
}

#icon_27 {
    position: relative;
    left: 1.3rem;
    top: -100.3rem;
}

.container_search_2 {
    position: relative;
    left: -1.7rem;
    top: -98.8rem;
    width: 330px;
    height: 420px;
    background-color: rgb(255, 255, 255);
}

.container_search_2 li {
    position: relative;
    width: 300px;
}

.Head-Bar-Option {
    position: relative;
    top: -237rem;
    left: 1.5rem;
    font-size: 20px !important;
}

.Option_Bar ul {
    position: relative;
    top: -0rem;
    display: block !important;
}

.Bar-Search {
    position: relative;
    left: -11rem;
    top: -120rem;
    width: 140px;
}

.personal {
    position: relative;
    top: -3.1rem;
    left: 2.7rem;
    letter-spacing: none !important;
    font-size: 15px !important;
}

#icon_52 {
    position: relative;
    left: -15px;
}

.Bar-Login {
    position: relative;
    left: -11rem;
    top: -120rem;
    width: 140px;
    margin-top: 20px;
}

.Option_Bar{
    display: none;
}

.login {
    position: relative;
    top: -3rem;
    left: 4rem;
    letter-spacing: none !important;
    font-size: 15px !important;
}

#icon_53 {
    position: relative;
    left: -15px;
}

.Bar-Register {
    position: relative;
    left: -11rem;
    top: -120rem;
    width: 140px;
}

.countdown {
    position: relative !important;
    top: -175rem !important;
    overflow: visible !important;
    width: 400px;
    height: 200px;
}

.countdown img {
    position: relative;
    top: 0rem;
    width: 400px;
    height: 200px;
}

#invisible-1 a {
    display: none;
}

#invisible-2 a {
    display: none;
}

.Value2 {
    display: none;
}

.Value3 {
    display: none;
}

.option-menu {
    display: none;
}

.Certificate-1 {
    display: none;
}

.op-2 {
    opacity: 0;
}

#visible a {
    position: relative;
    left: -4rem;
}

.Value {
    position: relative;
    display: block !important;
    top: -7.3rem !important;
    left: 7rem !important;
    font-size: 70px !important;
    letter-spacing: 2px !important;
    color: black;
}

.head-image h1 {
    position: relative;
    top: -275rem;
    left: 2.5rem;
    font-size: 20px;
}

.container-images {
    position: relative;
    left: -21.8rem;
    background-color: blue;
}

.container-images .images-1 img {
    aspect-ratio: 16/9;
    width: 240px;
    border-radius: 10px;
    /* filter: brightness(70%); */
    transition: transform 0.5s linear;
    transform: scale(0.8);
    background: linear-gradient(to right, #0c0d0f 63%, transparent)
}

.background1 {
    position: relative;
    right: -400px;
    top: -15.7rem;
    width: 280px;
    height: 270px;
    border-radius: 10px;
    opacity: 0;
    z-index: 99999999999;
    background: linear-gradient(to top, #0c0d0f 12%, transparent);
}

.container-images .images-2 img {
    aspect-ratio: 16/9;
    width: 240px;
    border-radius: 10px;
    /* filter: brightness(70%); */
    transform: scale(1.2);
    transition: transform 0.5s linear;
    z-index: 99999999999999999;
}

/* .container-images .images-2 img:hover {
    filter: saturate(100%);
    transition: 0.3s ease;
    cursor: pointer;
} */

.container-images .images-3 img {
    aspect-ratio: 16/9;
    width: 240px;
    border-radius: 10px;
    transform: scale(0.8);
    transition: transform 0.5s linear;
}

.container-images .images-4 img {
    aspect-ratio: 16/9;
    width: 240px;
    border-radius: 10px;
    transition: transform 0.5s linear;
}

.container-images .images-5 img {
    aspect-ratio: 16/9;
    width: 240px;
    border-radius: 10px;
    transition: transform 0.5s linear;
}

.container-images .images-6 img {
    aspect-ratio: 16/9;
    width: 240px;
    border-radius: 10px;
    transition: transform 0.5s linear;
}

.container-images .images-7 img {
    aspect-ratio: 16/9;
    width: 400px;
    border-radius: 10px;
    transition: transform 0.5s linear;
}

.value-project {
    position: relative;
    top: -11.5rem;
}

.projek_1p {
    position: relative;
    top: -176.5rem;
    left: 3rem;
    font-size: 20px;
}

.paragraf_mobile {
    position: relative;
    top: -470rem !important;
    opacity: 1;
    z-index: 999999;
}

.bg-running-text {
    position: relative;
    top: -150rem !important;

}

.projek_2p {
    position: relative;
    top: -142.5rem;
    left: 5.5rem;
}

.head-image {
    position: relative;
    top: -78rem;
}

.container-images {
    position: relative;
    left: -21.8rem;
    top: -315rem;
    width: 645px;
    background-color: rgb(255, 255, 255);
}

.button-7 {
    position: absolute;
    top: -247.5rem;
    right: 86.5rem;
    z-index: 99999999;
    appearance: none;
    width: 25px;
    height: 25px;
    border: solid 3px rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
}

.button-8 {
    position: absolute;
    top: -247.5rem;
    left: 5.5rem;
    appearance: none;
    width: 25px;
    height: 25px;
    border: solid 3px black;
    border-radius: 50%;
    z-index: 99999999;
    cursor: pointer;
}

.button-3 {
    position: relative;
    top: -284.5rem;
    right: -11.5rem;
    appearance: none;
    width: 25px;
    height: 25px;
    border: solid 3px rgb(0, 0, 0);
    border-radius: 50%;
    z-index: 99999999;
    cursor: pointer;
}

.button-4 {
    position: absolute;
    right: 92.5rem;
    top: -247.5rem;
    appearance: none;
    width: 25px;
    height: 25px;
    border: solid 3px black;
    border-radius: 50%;
    z-index: 9999999999999;
    cursor: pointer;
}

.button-5 {
    position: absolute;
    appearance: none;
    width: 25px;
    height: 25px;
    border: solid 3px rgb(0, 0, 0);
    border-radius: 50%;
    z-index: 99999999;
    top: -247.5rem;
    right: 80rem;
    cursor: pointer;
}

.button-6 {
    position: absolute;
    top: -247.5rem;
    right: 77rem;
    appearance: none;
    width: 25px;
    height: 25px;
    border: solid 3px rgb(0, 0, 0);
    border-radius: 50%;
    z-index: 99999999;
    cursor: pointer;
}

.head-contact {
    position: relative;
    font-size: 20px;
    width: 360px;
    top: 47rem;
    left: -1.6rem;
}

#icon_16 {
    position: relative;
    left: 0.2rem;
}

.main-contact {
    position: relative;
    top: -90rem;
    left: -24rem;
}

.value-1 {
    width: 265px;
}

.value-2 {
    width: 265px;
}

#Message {
    position: relative;
    width: 265px;
    top: 50rem;
    left: 1rem;
}

.value-message {
    position: relative;
    width: 300px;
    top: 57rem;
    left: 1rem;
}

#position {
    position: relative;
    top: 50rem;
    left: 1.5rem;
}

.button-message {
    position: relative;
    left: 0;
    top: 52rem;
    left: 4.3rem;
}

.button-message2 {
    display: none;
}

.head-AI {
    font-size: 20px;
    position: relative;
    top: -146rem;
    left: 3rem;
}

.main-AI {
    position: relative;
    top: -140rem !important;
    width: 300px;
    left: 1rem;
}


}