body {
    background-color: rgb(0, 255, 255);
    overflow: hidden;
}

.container-login {
    position: absolute;
    top: 7.2rem;
    right: 20rem;
    width: 900px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    overflow: hidden;
}

.container-login-2 {
    position: relative;
    left: -200px;
    width: 650px;
    height: 500px;
    background-color: #1f1e24;
    border-radius: 140px;
    z-index: 9999;
}

h1 {
    position: relative;
    right: -39rem;
    top: -29rem;
    font-size: 35px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.username {
    position: relative;
    top: -28.5rem;
    right: -32rem;
    width: 260px;
    background-color: #eeeeee;
}

::placeholder {
    color: #333333a7;
}

.username[type="text"] {
    padding: 14px;
    padding-right: 50px;
    color: #1f1e24;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 10px;
}

.password {
    position: relative;
    top: -24rem;
    right: -11.5rem;
    width: 260px;
    background-color: #eeeeee;
}

::placeholder {
    color: #333333a7;
}

.password[type="password"] {
    padding: 14px;
    padding-right: 50px;
    color: #1f1e24;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 10px;
}

.icon-login {
    position: relative;
    right: -63rem;
    bottom: -13.2rem;
    z-index: 999999;
}

.icon-login ul li {
    list-style: none;
    margin: 55px;
}

h4 {
    position: relative;
    right: -57rem;
    bottom: -11.5rem;
    color: #747474;
    cursor: pointer;
    font-family: 'poppins', sans-serif;
}

.login-btn {
    position: relative;
    right: -51.3rem;
    bottom: -11.2rem;
    width: 322px;
    height: 45px;
    border-radius: 10px;
    background-color: #1f1e24;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.login-btn:active {
    transition: 0.3s ease;
    background-color: #eeeeee;
}

.login-btn:active a {
     color: #1f1e24;
}

.login-btn a {
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    color: white;
}

h3 {
    position: relative;
    right: -54rem;
    bottom: -11rem;
    font-size: 16px;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    color: #747474;
}

.icon_sosmed {
    position: relative;
    right: -51rem;
    bottom: -11rem;
}

.icon_sosmed ul {
    display: flex;
    gap: 1.5rem;
}

.icon_sosmed ul li {
    list-style: none;
    border: solid 3px #747474;
    border-radius: 10px;
}

.icon_3 {
    width: 40px;
    height: 20px;
}

.icon_4 {
    width: 40px;
    height: 20px;
}

.icon_5 {
    width: 40px;
    height: 20px;
}

.icon_6 {
    width: 40px;
    height: 20px;
}

#icon_3 {
    position: relative;
    right: -0.8rem;
    bottom: -0.6rem;
}

#icon_4 {
    position: relative;
    right: -1rem;
    bottom: -0.6rem;
}

#icon_5 {
    position: relative;
    right: -0.8rem;
    bottom: -0.6rem;
}

.main-tag {
    position: relative;
    right: -24.2rem;
    top: -7.5rem;
    font-size: 35px;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    color: white;
    z-index: 3;
    z-index: 9999;
}

.main-tag2 {
    position: relative;
    right: -27.5rem;
    top: -8.5rem;
    font-weight: 300;
    font-family: 'poppins', sans-serif;
    color: white;
    z-index: 9999;
}

.Register {
    position: relative;
    right: -27rem;
    top: -7.8rem;
    width: 145px;
    height: 50px;
    background-color: transparent;
    border: solid 3px white;
    border-radius: 10px;
    cursor: pointer;
    padding: 11px;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 99999999999999;
}

.Register {
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    color: white;
}

img {
    position: relative;
    top: -40rem;
    left: -8px;
    width: 1550px;
    z-index: -1;
}

.connect {
    position: relative;
    right: -20rem;
}

#btn:checked ~ .container-login-2 {
    animation: jalan 3s linear forwards;
}

@keyframes jalan {
    0% {
        opacity: 1;
        width: 550px;
    }

    40% {
         width: 1700px;
    }

    45% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        width: 1700px;
        opacity: 0;
    }
}

#btn:checked ~ .bg-2 {
    animation: jalan2 3s forwards;
}

.bg-2 {
    position: relative;
    top: -505px;
    left: 100px;
    width: 650px;
    height: 500px;
    background-color: #1f1e24;
    border-radius: 140px;
    z-index: 99999;
}

@keyframes jalan2 {
    0% {
        opacity: 0;
        width: 550px;
    }

    10% {
        opacity: 1;
    }

    50% {
        width: 1500px;
    }

    60% {
        transform: scaleX(-1);
        width: 2000px;
    }
   
    100% {
        transform: scaleX(-1) translateX(-50%);

    }
}